<!doctype html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="base::header">
    <title th:text="${page_title}">Registration</title>
</head>

<body>
<div th:replace="base::nav"></div>

    <!--Image Slider-->
    <div id="slides" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://i.imgur.com/rOtOEIS.png">
                <div class="carousel-caption">
                    <h1 class="display-2">REGISTER</h1>
                </div>
            </div>
        </div>
    </div>

<div class="login-page">
    <div class="form mx-auto">
        <div class="error-message" th:text="${message}"></div>
        <form class="login-form" action="#" autocomplete="off" method="post" th:action="@{/register}" th:object="${user}">
            <input th:field="*{id}" type="hidden"/>
            <p class="error-message"
               th:each="error : ${#fields.errors('global')}"
               th:if="${#fields.hasGlobalErrors()}"
               th:text="${error}">Validation error>
            </p>
            <input id="firstName" placeholder="First Name" th:field="*{firstName}" type="text">
                <strong>
                <span class="error-message" th:errors="*{firstName}" th:if="${#fields.hasErrors('firstName')}"></span>
                </strong>
            <input id="lastName" placeholder="Last Name" th:field="*{lastName}" type="text">
                <strong>
                <span class="error-message" th:errors="*{lastName}" th:if="${#fields.hasErrors('lastName')}"></span>
                </strong>
            <input id="email" placeholder="Email" th:field="*{email}" type="text">
                <strong>
                <span class="error-message" th:errors="*{email}" th:if="${#fields.hasErrors('email')}"></span>
                </strong>
            <input id="username" placeholder="User Name" th:field="*{username}" type="text">
                <strong>
                <span class="error-message" th:errors="*{username}" th:if="${#fields.hasErrors('username')}"></span>
                </strong>
            <input id="password" placeholder="Password" th:field="*{password}" type="password">
            <ul class="text-left" th:each="error: ${#fields.errors('password')}">
                <li th:each="message : ${error.split(',')}">
                    <strong>
                    <span class="error-message" th:text="${message}"></span>
                    </strong>
                </li>
            </ul>
            <button>create</button>
            <p class="message">Already registered? <a href="/login">Sign In</a></p>
        </form>
    </div>
</div>

<br/>
<hr/>

<div th:replace="base::footer"></div>
</body>
</html>