<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="base::header">
    <title>Weather Data</title>
</head>
<body>
<div th:replace="base::nav"></div>

<!--Image Slider-->
<div id="slides" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://i.imgur.com/rOtOEIS.png">
            <div class="carousel-caption">
                <h1 class="display-2">Weather</h1>
            </div>
        </div>
    </div>
</div>


    <div align="center" class="div1 col-10 mx-auto">
        <table class="table table-striped" id="table" style="width:100%">
            <tr>
                <th>City</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Wind Speed</th>
                <th>Wind Direction</th>
                <th>Precipitation</th>
                <th>Temp</th>
                <th>Min Temp</th>
                <th>Max Temp</th>
                <th>Weather</th>
            </tr>
            <tr th:each="weather ,iterStat: ${weatherData}">
                <td><span th:text="${weather.name}"></span></td>
                <td><span th:text="${weather.lat}"></span></td>
                <td><span th:text="${weather.lon}"></span></td>
                <td><span th:text="${weather.windSpeed}"></span></td>
                <td><span th:text="${weather.windDirection}"></span></td>
                <td><span th:text="${weather.weatherMain}"></span></td>

                <td>
                    <!--<span th:text="${#numbers.formatDecimal(weather.temp,2,1)}"></span>-->
                    <span th:text="${weather.getFahrenheitTemperature(weather.temp)}"></span>
                </td>
                <td>
                    <!--<span th:text="${#numbers.formatDecimal(weather.tempMin,2,1)}"></span>-->
                    <span th:text="${weather.getFahrenheitTemperature(weather.tempMin)}"></span>
                </td>
                <td>
                    <!--<span th:text="${#numbers.formatDecimal(weather.tempMax,2,1)}"></span>-->
                    <span th:text="${weather.getFahrenheitTemperature(weather.tempMin)}"></span>
                </td>

                <td><span th:text="${weather.weatherDescription}"></span></td>
            </tr>
        </table>
    </div>

        <!--enhanced for loop-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3" th:each="item : ${items}">
                <div class="card mx-auto cardStyle" style="width: 14rem;">
                    <td sec:authorize="isAuthenticated()">
                        <input name="check" th:value="${item.id}" type="checkbox"/>
                    </td>
                    <img alt="Picture" th:src="${item.picturePath}" class="card-img-top resize mx-auto">
                    <div class="card-body mx-auto">
                        <h5 class="card-title"><a th:href="@{/detail/{id}(id=${item.id})}">[[${item.name}]]</a></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

<br/><br/>

    <div th:replace="base::delete"></div>
</div>
<div th:replace="base::footer"></div>
</body>
</html>